
body,h2,p{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* nav bar css */

#showcase{
    height: 100vh;
    color: white;
}
.showcase-content{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
height: 100%;
align-items: center;
padding: 0 2rem;
}

.showcase-content button{
    margin: 0.5rem;
    padding: 0.75rem 1.3rem;
    border-radius: 8px;
    border: none;
}

.l-btn{
    background: rgb(59, 243, 92);
}
.h-btn{
    background: rgb(51, 178, 1) ;
}
.who{
    display: flex;
    flex: 1;
    margin:0 2rem;

}

.who div{
    flex: 1;
    margin-top: 5rem; 
 /* Divide the section into two equal parts,Equal sides in the divs inside who div*/
}
.title{
    display: flex;
    justify-content: space-evenly;
}
.who .who-img{ 
    justify-content: space-around;
}
.who img{
    width: 80%;
    height: 90%;
}

/* utils  */

.justify-text{
    text-align: justify;
 }
 
 .bg-primary{
     background: rgba(11, 153, 0, 0.711);
     color: aliceblue;
 }
 .clr{
     clear:both ;
 }
 
.btn-dark{
    background: rgb(50, 50, 50);
    color: white;
}

.py-1{
    padding: 1.5rem 0;
}

.py-2{
    padding: 3rem 0;
    margin: 2rem 0;
} 
.m-heading{
    color: rgb(29, 155, 1);
}
.d-heading{
    color: black;
}
.p-1{
    padding: 1.5rem;
}
.who h2,.who p,.center{
    align-items: center;

}
.center{
    width: 40%;
    height: 90%;
}
.y-1{
    flex-direction: column;
}
