body {
    box-sizing: border-box;
     margin: 0;
     padding: 0;
     background-image: url('./Images/Background.jpg');
     background-repeat:repeat-y;
     background-size: cover;
  
 }
 li,
 a,
 button {
     @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     font-size: 16px;
     color: black;
     border-width: 1px;
     text-decoration: none;
 }
 
 .navigation{
	min-height:50px;
	
	position:fixed;
	z-index:2;
	padding: 10px 30px 0px 30px;
	background:#00c39fa0;
	top:0px;
    box-shadow: #282727;
}
.logo{
	font-family:Arial, Helvetica, sans-serif;
	color:#022747;
	font-size:25px;
	font-weight:bold;
	line-height:50px;
	text-decoration:none;
}
.menu-toggler{
	width:30px;
	height:30px;
	position: absolute;
	top:10px;
	right:30px;
	appearance: none;
	display:none;
}
.menu-toggler:before{
	content: "\f0c9";
	color:#555252;
	font-size:25px;
	width:100%;
	height:100%;
	margin:auto;
}
.navbar{
	float:right;
	right:40px;
	position: relative;
	height:50px;
    padding-bottom: 20px;
	
}
.navbar >.navbar-items{
	padding:0px;
	position: relative;
	right:0px;
	height:100%;
	
}
.navbar > .navbar-items >.navbar-nav{
	list-style-type:none;
	display:inline-block;
	height:100%;
	font-size:16px;
}
.navbar > .navbar-items >.navbar-nav > .nav-link{
	display:block;
	width:100%;
	height:100%;
	padding:3px;
	line-height:44px;
	text-decoration:none;
	color:#1b2a5c;
}
/* end of navbar */
 
 button {
     padding: 5px;
     background-color: rgb(103, 184, 250);
     border: none;
     cursor: pointer;
     transition: all 0.3s ease 0s;
     border-radius: 10px;
 }
 
 .home-btn2{
    justify-content: space-evenly;
 }
 .description,.home-btns{
  
 display: flex;
max-width: 100%;
 justify-content: space-evenly;
 font-weight: 100;
 border-radius: 10px;
 margin-top: 200px;
 margin-bottom: 20px;
 }
 
 .words{
     display: block;
     background: #ffffffd5;
     border: 2px solid #fcfdff;
     border-radius: 4px;
     box-shadow: #494848;
     padding: 30px 40px;
     text-align: justify;
 }
 
 .my-profile{
     width: 70%;
 }
 .home-btn1,.home-btn2{
     display: flex;
     flex-direction: row;
    border: solid #43A4C2; 
    margin: 20px;
    padding: 5px 20px;
 }
 .home-btn1,.home-btn2:hover{
     text-decoration-color: #3771C8;
     background-color: white;
     color:  #3771C8;
     
 }
 .home-btn2,.home-btn1:hover{
    text-decoration-color: white;
     background-color: #3771C8;
     color: #ffffff;
     
 }
 
 
 .home-btns{
     border-radius: 0;
 }
 
 .content > div> h2,.title,.post-details,h3{
    
     font-family: 'Montserrat', sans-serif;
     margin: 16px 4px 16px 16px;
     font-size: 12px;
 }
  .content{
    display: flex;
     align-items: center;
 } 
 
 .work,.text{
    
     display: flex;
     flex-direction: column;
     
 }
 .projects,.channels,.about-details{
 
     display: flex;
     margin: 50px 5px 5px 10px;
     justify-content: space-between;
 
 
     
 }
 .project,.skills{
 
     display: flex;
     flex-direction: column;
     text-align:center;
     align-content: space-around;
     background-color:rgba(63, 59, 65, 0.2);
     border-radius: 20px;
     margin: 0 8px;
     font-family: 'Montserrat', sans-serif;
     align-items: center;
 }
 .project-content >p{
     text-align: justify;
     padding: 5px 24px  30px 24px;
     color:#494848;
     
 }
 
 
 
  .blogs,.message-box{
     display: flex;
     margin:5px 0px;
  }
 
 .skills{
     background-color:rgba(209, 243, 241, 0.123);
 }
 
 .Blogs{
     display: flex;
     width: fit-content;
     border-radius: 10px;
     justify-content: center;
     background-color:rgba(255, 255, 255, 0.959);
 }
 
 .post-details{
     display:flex;
     flex-direction: column;
     padding: 10px 20px 20px 10px;
 }
 
 .blog-content{
     display:flex ;
     flex-direction: column;
     padding: 10px 20px 20px 20px;
 }
 
 
 
 .blog-container,.title,.icons{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .box,.message-box{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 40px;
 }
 .icon-1,.icon-3{
    height: 50px;
    width: 50px;
 }
 
 
 /* .content{
     padding-top: 10px;
 } */
 
 .icon-2{
     max-height: 30px;
     max-width: 30px;
     padding: 0 20px;
     
 }
 .message-box{
     height: 100%;
     width: 100%;
 }
 .address-details{
     display: flex;
 
 }
 .contacts{
     background-color: #ffffff;
 }
 .login-page{
     height: 100%;
     background-image: url('./Images/Background.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     display: grid;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .text{
     justify-content: space-between;
     padding: 0 6px;
 }
 .container{
     
 display:grid;
 height: 50%;
 place-items: center;
 background-color: rgb(255, 255, 255);
 padding: 40px;
 border-radius: 5%;
 animation: 6s infinite alternate linear;
     }
 
     .btn{
        background-image: linear-gradient(rgb(112, 189, 233),rgba(146, 211, 255, 0.753),rgb(112, 189, 233));
     }
     input{
         border-radius: 10% 10% 10% 10%;
     }
 .bt{
     display:grid;
     justify-content: center;
 
 }
 .forgot{
     display: flex;
     justify-content: flex-end;
     font-family: 'Poor Story', cursive;
 }
 
 
 .description1,#about1,#about2,#about4{
     display: flex;
   border: none;
   justify-content: space-evenly;
   margin: 20px 0px;
 }
 .item:after{
     content: '';
     position: absolute;
     width: 5%;
     transform: scaleX(0);
     height: 2px;
     background-color: 
   hsla(32, 98%, 54%, 0.959);
     transform-origin: bottom right;
     transition: transform 0.3s ease-in-out;
 }
 .item:hover:after {
     transform: scaleX(1);
     transform-origin: bottom left;
   }
 .media-icons{
     height: 20px;
     width: 20px;
 }
 svg{
     justify-content: space-around;
     padding: 0px 10px;
     margin: 40px 40px 1px 0px;
 }
 
 .pattern-icons{
     height: 60px;
     width: 60px;
 }
 img{
     padding: 70px 0px 0px 0px;
     box-shadow: #494848;
 }
 
 .picture,.pict{
     height:20%;
     width: 20%;
  justify-content:flex-start ;
 }
 .dash-page,.project1{
 
     display: flex;
     padding: 20px;
 }
 #about4,.col-1{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .dash{
 max-height: 50%;
 max-width: 50%;
 
 }
 .dash-page{
     height: 100%;
    display: flex;
   flex-direction: column;
 background-size: cover;
   background-image: url('./Images/Background.jpg');
   background-repeat:repeat-y;
 padding: 0 60px;
 }
   .container2 {
     font-family: Arial, sans-serif;
     font-size: 16px;
     max-width:300px;
     margin: 100px auto;
     padding: 30px;
     background-color: white;
     border-radius: 10px;
     box-shadow: 0 0 10px #ccc;
   }
   h1 {
     text-align: center;
     margin-bottom: 30px;
   }
   input[type="text"],
   input[type="password"],input[type="email"] {
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     box-sizing: border-box;
     border-radius: 5px;
     border: 1px solid #ccc;
     font-size: 14px;
     
   }
   input[type="submit"] {
     width: 100%;
     padding: 0px 10px;
     background-color: #4CAF50;
     color: white;
     font-size: 16px;
     border-radius: 8px;
     border: none;
     cursor: pointer;
   }
   input[type="submit"]:hover {
     background-color: #3e8e41;
   }
 
   #gmail,#fb,#git{
     max-width: 45px;
     max-height: 30px;
     padding: 0px 20px;
   }
   .accounts{
     display: flex;
    justify-content: center;
    margin-top: 0px;
   }
   label{
  font-family: 'Montserrat', sans-serif;
     font-size: smaller;
     font-weight: bold;
     padding: 5px auto;
   }
   h1{
     font-family:  'Montserrat', sans-serif;
   }
   .footer>.footer2,.footer3{
     display: flex;
     margin: 10px auto;
     flex-direction: row;
     justify-content: center;
   }
   .footer>div{
     margin: 20%;
   }
   .foot,.row{
     display: flex;
 
   }
   .foot{
    max-width: 100%;
   }
   .row>div{
    margin: 20px;
   }
   .foot>input{
     border-radius: 1px;
     background-color:rgba(112, 112, 112, 0.267);
     font-family:'Montserrat', sans-serif;
   }
 
.text-me,.col-3{
    display: flex;
    margin-left: 3%;
    margin-bottom: 3%;
    
}

   
.col-3>div{
  margin: 0px 30px;
}

 footer{
   display: block;
    border-top: 2px solid rgba(0, 0, 0, 0.267); 
    box-shadow: 5px #430000;
    margin-left: 20px;
}

.col-5,.col-6,.col-7,.col-8,.col-9,.settings{
    display: flex;
    flex-wrap: wrap;
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    font-weight:normal;
    align-items: center;
    text-align: center;
   padding: 2px 50px;
   border-radius: 8px;
margin: 3%;
}
.col{
    display: block;
    border-radius: 50%;
    height: 10%;
    width: 100%;

}

.col-5:hover,.col-6:hover,.col-7:hover,.col-8:hover,.col-9:hover{
    cursor: pointer;
}
.col-5{
    background-image: linear-gradient(rgba(0, 38, 255, 0.726),rgba(0, 89, 255, 0.945),rgba(0, 35, 235, 0.726));
}
.col-6{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 252, 252)); 
    color: rgb(4, 102, 230);
}

.col-7{
    background-image: linear-gradient(rgb(0, 226, 19),rgb(71, 218, 3),rgb(1, 202, 28)); 
    color: whitesmoke;
}
.col-8{
    background-image: linear-gradient(rgb(255, 118, 6),rgba(255, 115, 1, 0.959),rgb(223, 108, 0)); 
    color: whitesmoke;
}.col-9{
    background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 50, 50),rgb(196, 4, 4)); 
    color: rgb(208, 213, 255);
}

.col-5:hover{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 252, 252)); 
    color: rgb(4, 102, 230);
}
.col-6:hover{
    background-image: linear-gradient(rgba(31, 64, 255, 0.726),rgba(0, 89, 255, 0.945),rgba(55, 85, 255, 0.726)); 
    color: black;
}

.col-7:hover{
    background-image: linear-gradient(rgb(255, 197, 6),rgba(255, 187, 1, 0.959),rgb(207, 187, 0)); 
    color: whitesmoke;
}
.col-8:hover{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 252, 252)); 
    color: rgb(4, 102, 230);
}.col-9:hover{
    background-image: linear-gradient(rgb(138, 2, 2),rgb(146, 21, 21),rgb(128, 2, 2)); 
    color: rgb(208, 213, 255);
}

.dash-btn{
    background-color: gray;
    border-radius: 1px;

  }

section{
	width:100%;
}

#contact-section{
	padding-top:50px;
	background:rgba(242, 236, 248,0.9);
	height:80%;

}
.contacts-group{
	width: 80%;
	height:100%;
	position:relative;
	left:10%;
	display:flex;
	flex-wrap:wrap;
}
.contacts-group >div{
	width:50%;
	height:100%;
	display:flex;
	flex-flow:wrap-reverse;
}
#contact-adress{
	background:#5c5c5c4e;
	display:flex;
	justify-content:center;
}
#contact-adress ul li {
	list-style-type:none;
	margin-top:30px;
    font-family:'Montserrat', sans-serif;
	font: size 20px;
    font-weight: bold;
	
}
.contact-icon{
	margin-right:4px;
}




@media screen and (max-width:433px){
    .navigation{
	
        background:#5e5c6092;
        position:fixed;
        z-index:2;
        padding:0px 0px 10px 0px;
        
    }
    
    .menu-toggler{
    display:block;
    }
    .menu-toggler:checked + .navbar{
        
        margin-top:0px;
        position: relative;
        display:block;
    }
    .navbar{
        float:right;
        right:0px;
        display:block;
        width:100%;
        height:auto;
        margin-top:-100%;
        position:absolute;
        transition:margin 0.3s ease-in-out;
        
    }
    .navbar >.navbar-items{
        padding:0px;
        position: relative;
        right:0px;
        width:100%;
        height:auto;
        
    
        
    }
    .navbar > .navbar-items >.navbar-nav{
        list-style-type:none;
        display:block;
        width:100%;
        font-size:16px;
    }
    .navbar > .navbar-items >.navbar-nav > .nav-link{
        display:block;
        width:100%;
        height:100%;
        padding:10px;
        line-height:44px;
        text-decoration:none;
        color:#092351;
        
        
    }
    .navbar > .navbar-items >.navbar-nav > .nav-link:hover{
        background-color:#072052;
    }

/*Profile section */

.description{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

}

    #contact-section{
		height:130%;
		
	}
}